@tailwind base;
@tailwind components;
@tailwind utilities;


.show-list ul {
    list-style-type: disc;
    margin-left: 20px;
}

.show-list ol {
    list-style-type: decimal;
    margin-left: 20px;
}

/* alpha list */
.show-list ul.alpha {
    list-style-type: lower-alpha;
    margin-left: 20px;
}
